body {
  padding-top: 70px;
  font-family: "微软雅黑";
}
h1, h2, h3, h4 {
  font-family: "黑体";
}
footer {
  padding: 30px 0;
}

.login {
  max-width: 330px;
  margin: 0 auto;
}
.login .login-heading,
.login .checkbox {
  margin-bottom: 10px;
}
.login .checkbox {
  font-weight: normal;
}
.login #error {
  padding: 5px auto;
  display: none;
}
.login .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.login .form-control:focus {
  z-index: 2;
}
.login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.newrow  > tbody > tr:last-child > th {
  vertical-align: middle;
}