body {
  padding-top: 35px;
  font-family: "微软雅黑";
  /*font-size: 14px;*/
}
h1, h2, h3, h4 {
  font-family: "黑体";
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  vertical-align: middle;
}
.panel {
  margin: 0;
}
.panel-body .form-group {
  margin-bottom: 0;
}

.ico-lg {
  font-size: 18px;
  padding-left: 3px;
}

.login {
  max-width: 330px;
  margin: 0 auto;
}
.login .page-header {
  border: none;
  padding-bottom: 0px;
}
.login .checkbox {
  margin-bottom: 10px;
}
.login .checkbox {
  font-weight: normal;
}
.login #error {
  padding: 5px auto;
  display: none;
}
.login .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.login .form-control:focus {
  z-index: 2;
}
.login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.all>tbody>tr>th {
  width: 120px;
}
