      <div class="page-header">
        <h1>{{ @page.title }}</h1>
      </div>
      <form class="form-horizontal rest" role="form" method="post">
        <div class="form-group">
          <label for="fullname" class="col-sm-1 control-label">全称</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="fullname" value="{{ @s.fullname }}" required>
          </div>
          <label for="name" class="col-sm-1 control-label">简称</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" name="name" value="{{ @s.name }}" required>
          </div>
          <label for="taxid" class="col-sm-1 control-label">税号</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="taxid" value="{{ @s.taxid }}" required>
          </div>
        </div>

        <div class="form-group">
          <label for="memo" class="col-sm-1 control-label">备注</label>
          <div class="col-sm-11">
            <textarea class="form-control" rows="3" name="memo">{{ @s.memo }}</textarea>
          </div>
        </div>
        <div class="form-group">
          <input type="hidden" name="_method" value="{{@page.method}}" />
          <div class="col-sm-offset-6 col-sm-2">
            <button type="button" class="btn btn-danger btn-block">删除</button>
          </div>
          <div class="col-sm-2">
            <a type="button" href="javascript:history.back();" class="btn btn-default btn-block">返回</a>
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary btn-block">保存</button>
          </div>

        </div>
      </form>