      <div class="page-header">
        <h1>{{ @pageTitle }}</h1>
      </div>
      <form class="form-horizontal rest" role="form" method="post">
        <div class="form-group">
          <label for="fullname" class="col-sm-2 control-label">供应商全称</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="fullname" value="{{ @s.fullname }}" required>
          </div>
          <label for="name" class="col-sm-1 control-label">简称</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="name" value="{{ @s.name }}" required>
          </div>
        </div>

        <div class="form-group">
          <label for="memo" class="col-sm-2 control-label">备注</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="3" name="memo">{{ @s.memo }}</textarea>
          </div>
        </div>
        <div class="form-group">
          <input type="hidden" name="_method" value="" />
          <div class="col-sm-offset-6 col-sm-2">
            <a type="button" href="/s" class="btn btn-default btn-block">返回</a>
          </div>
          <div class="col-sm-2">
            <button type="button" name="delete" class="btn btn-danger btn-block">删除</button>
          </div>
          <div class="col-sm-2">
            <button type="button" name="post" class="btn btn-primary btn-block">保存</button>
          </div>

        </div>
      </form>