      <div class="page-header">
        <h1>{{ @page.title }}</h1>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
          <check if="{{ @SESSION.ROLE>=4 }}">
            <true>
            <th></th>
            </true>
            <false>
            <th>#</th>
            </false>
          </check>
            <th>供应商全称</th>
            <th>简称</th>
            <th>纳税人识别号</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <repeat group="{{ @ss }}" value="{{ @s }}">
          <tr>
          <check if="{{ @SESSION.ROLE>=4 }}">
            <true>
            <td><a class="ico-lg" href="s/{{ @s.sID }}"><span class="glyphicon glyphicon-ok-sign text-success"></span></a></td>
            </true>
            <false>
            <th>{{ @s.sID }}</th>
            </false>
          </check>
            <td>{{ @s.fullname }}</td>
            <td>{{ @s.name }}</td>
            <td>{{ @s.taxid }}</td>
            <td>{{ @s.memo }}</td>
          </tr>
          </repeat>
          <check if="{{ @SESSION.ROLE >= 4 }}">
          <tr>
          <form method="post">
            <th><input class="btn btn-primary btn-sm" type="submit" value="新增" /></th>
            <td><input type="text" class="form-control" name="fullname" placeholder="供应商全称" required autofocus /></td>
            <td><input type="text" class="form-control" name="name" placeholder="简称" required /></td>
            <td><input type="text" class="form-control" name="taxid" placeholder="纳税人识别号" required /></td>
            <td><input type="text" class="form-control" name="memo" placeholder="备注"></td>
          </form>
          </tr>
          </check>
        </tbody>
      </table>