      <div class="page-header">
        <h1>{{ @page.title }}
          <div class="col-sm-2 pull-right">
            <select class="form-control" id="mID">
              <option value="">选择类别...</option>
              <option value="0">所有类别</option>
<repeat group="{{@ts}}" value="{{@t}}">
              <option value="{{@t.tID}}">{{@t.name}}</option>
</repeat>
            </select>
          </div>
        </h1>
      </div>
      
      <table class="table table-hover all">
        <thead>
          <tr>
            <th>#</th>
            <th>名称</th>
            <th>类别</th>
            <th>品牌</th>
            <th>型号</th>
            <th>数量</th>
          </tr>
        </thead>
        <tbody>
          <repeat group="{{ @items }}" value="{{ @i }}">
          <tr>
            <th><div class="btn-group btn-group-sm">
                <a href="d/i{{ @i.iID }}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-transfer"></span> 出入库</a>
                <a href="d/l/{{ @i.iID }}" type="button" class="btn btn-info"><span class="glyphicon glyphicon-list"></span> 流水</a>
            </div></th>
            <td><a href="i/{{ @i.iID }}">{{ @i.name }}</a></td>
            <td>{{ @ta[@i.tID] }}</td>
            <td>{{ @i.brand }}</td>
            <td>{{ @i.type }}</td>
            <td>{{ @i.amount }}</td>
          </tr>
          </repeat>
        </tbody>
      </table>
