      <div class="page-header">
        <h1>{{ @page.title }}</h1>
      </div>
      <form class="form-horizontal rest" role="form" method="post">
        <div class="form-group">
          <label for="name" class="col-sm-1 control-label">产品名称</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="name" placeholder="产品名称" required />
          </div>
          <label for="tID" class="col-sm-1 control-label">产品分类</label>
          <div class="col-sm-5">
            <select class="form-control" name="tID" placeholder="选择产品分类..." required>
              <option value="">选择产品分类...</option>
<repeat group="{{ @its }}" value="{{ @it }}">
              <option value="{{ @it.tID }}"<check if="{{ isset(@i) && @it.tID==@i.tID }}"> selected</check>>{{ @it.name }}</option>
</repeat>
            </select>
          </div>
          
        </div>
        <div class="form-group">
          <label for="brand" class="col-sm-1 control-label">品牌</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="brand"<check if="{{ isset(@i) }}"> value="{{ @i.brand }}"</check> placeholder="品牌" required />
          </div>
          <label for="type" class="col-sm-1 control-label">型号</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="type"<check if="{{ isset(@i) }}"> value="{{ @i.type }}"</check> placeholder="型号" required />
          </div>
          <label for="unit" class="col-sm-1 control-label">单位</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" name="unit"<check if="{{ isset(@i) }}"> value="{{ @i.unit }}"</check> placeholder="单位" required />
          </div>
        </div>
        <div class="form-group">
          <label for="memo" class="col-sm-1 control-label">备注</label>
          <div class="col-sm-11">
            <textarea class="form-control" rows="5" name="memo" placeholder="备注"><check if="{{ isset(@i) }}">{{ @i.memo }}</check></textarea>
          </div>
        </div>
        <div class="form-group">
          <input type="hidden" name="_method" value="{{ @page.method }}" />
          <div class="col-sm-offset-7 col-sm-1">
            <check if="{{ isset(@i) }}">
            <button type="button" class="btn btn-danger btn-block">删除</button>
            </check>
          </div>
          <div class="col-sm-2">
            <a type="button" href="javascript:history.back();" class="btn btn-default btn-block">返回</a>
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary btn-block">保存</button>
          </div>
        </div>
      </form>