      <h2>{{ @pageTitle }}</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>支票号</th>
            <th>支付账户</th>
            <th>开票日期</th>
            <th>支付原因</th>
            <th>金额</th>
            <th>供应商</th>
            <th>领取日期</th>
            <th>领取人</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><a href="check/04028668">04028668</a></th>
            <td>外大附校</td>
            <td>2013-12-04</td>
            <td>购买打印机耗材</td>
            <td>1480.00</td>
            <td>务实办公</td>
            <td>2013-12-04</td>
            <td>温庆丰</td>
          </tr>
          <tr>
            <th><a href="check/04028668">04028668</a></th>
            <td>外大附校</td>
            <td>2013-12-04</td>
            <td>购买打印机耗材</td>
            <td>1480.00</td>
            <td>务实办公</td>
            <td>2013-12-04</td>
            <td>温庆丰</td>
          </tr>
          <tr>
            <th><a href="check/04028668">04028668</a></th>
            <td>外大附校</td>
            <td>2013-12-04</td>
            <td>购买打印机耗材</td>
            <td>1480.00</td>
            <td>务实办公</td>
            <td>2013-12-04</td>
            <td>温庆丰</td>
          </tr>
        </tbody>
      </table>