      <div class="page-header">
        <h1>{{ @page.title }}</h1>
      </div>
      <form class="form-horizontal" method="post">
        <div class="form-group">
          <label for="checkno" class="col-sm-1 control-label">支票号</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" name="checkno" placeholder="支票号" required autofocus />
          </div>
          <label for="invoicedate" class="col-sm-1 control-label">开票日期</label>
          <div class="col-sm-3">
            <input type="date" class="form-control" name="invoicedate" required />
          </div>
          <label for="holder" class="col-sm-1 control-label">支付账户</label>
          <div class="col-sm-4">
            <select class="form-control" name="holder" required>
              <option value="">选择支付账户...</option>
<repeat group="{{ array_keys(@ch) }}" value="{{ @h }}">
              <option value="{{ @h }}">{{ @ch[@h] }}</option>
</repeat>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="money" class="col-sm-1 control-label">金额</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" name="money" step="0.01" min="0" placeholder="金额" required />
          </div>
          <label for="sID" class="col-sm-1 control-label">供应商</label>
          <div class="col-sm-3">
            <select class="form-control" name="sID" required>
              <option value="">选择供应商...</option>
<repeat group="{{ @ss }}" value="{{ @s }}">
              <option value="{{ @s.sID }}">{{ @s.name }}</option>
</repeat>
            </select>
          </div>
          <label for="purpose" class="col-sm-1 control-label">支付用途</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="purpose" placeholder="支付用途" required />
          </div>
        </div>
        <div class="form-group">
          <label for="memo" class="col-sm-1 control-label">备注</label>
          <div class="col-sm-11">
            <textarea class="form-control" rows="3" name="memo" placeholder="备注"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-8 col-sm-2">
            <a type="button" href="javascript:history.back();" class="btn btn-default btn-block">返回</a>
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary btn-block">保存</button>
          </div>
        </div>
      </form>