      <div class="page-header">
        <h1>{{ @page.title }}</h1>
      </div>
      <form class="form-horizontal" method="post">
        <div class="form-group">
          <label for="invoiceno" class="col-sm-1 control-label">发票号</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="invoiceno" value="{{@v.invoiceno}}" placeholder="发票号" disabled />
          </div>
          <label for="invoicedate" class="col-sm-1 control-label">开票日期</label>
          <div class="col-sm-3">
            <input type="date" class="form-control" name="invoicedate" value="{{@v.invoicedate}}" disabled />
          </div>
          <label for="holder" class="col-sm-1 control-label">支付账户</label>
          <div class="col-sm-3">
            <select class="form-control" name="holder" disabled>
              <option value="">选择支付账户...</option>
              <option value="{{ @v.holder }}" selected>{{ @ch[@v.holder] }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="money" class="col-sm-1 control-label">金额</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" name="money" step="0.01" min="0" value="{{@v.money}}" placeholder="金额" disabled />
          </div>
          <label for="sID" class="col-sm-1 control-label">供应商</label>
          <div class="col-sm-3">
            <select class="form-control" name="sID" disabled>
              <option value="">选择供应商...</option>
              <option value="{{ @v.sID }}" selected>{{ @v.sname }}</option>
            </select>
          </div>
          <label for="projectno" class="col-sm-1 control-label">政采编号</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="projectno" <check if="{{!empty(@v.projectno)}}"><true>value="{{@v.projectno}}" disabled</true><false>placeholder="政采计划编号"</false></check> />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">明细</label>
          <div class="col-sm-11">
            <div class="panel panel-default">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>物品</th>
                    <th>个数</th>
                    <th>单价</th>
                    <th>总价</th>
                  </tr>
                </thead>
                <tbody>
<repeat group="{{ @is }}" value="{{ @i }}">
                  <tr>
                    <th><a class="text-success"><span class="glyphicon glyphicon-check"></span></a></th>
                    <td><a href="d/l/{{@i.iID}}">{{@i.name}} {{@i.brand}} {{@i.type}}</a></td>
                    <td>{{@i.amount}}</td>
                    <td>{{@i.price}}</td>
                    <td>{{@i.amount*@i.price}}</td>
                  </tr>
</repeat>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="p_m" class="col-sm-1 control-label">支付方式</label>
          <div class="col-sm-2">
            <select class="form-control" name="p_m" <check if="{{isset(@v.p_m)}}"><true>disabled</true><false>required</false></check>>
              <option value="">选择支付方式...</option>
<repeat group="{{ array_keys(@pay) }}" value="{{ @p }}">
              <option value="{{ @p }}"<check if="{{isset(@v.p_m)&&@v.p_m==@p}}"> selected</check>>{{ @pay[@p] }}</option>
</repeat>
            </select>
          </div>
          <div class="col-sm-5">
            <select class="form-control" name="p_id" placeholder="选择支付结果..." <check if="{{isset(@v.p_id)}}"><true>disabled>
              <option value="{{@v.p_id}}" selected>{{@v.p_d}}</option>
</true><false>required>
</false></check>
            </select>
          </div>
<check if="{{!isset(@v.payment)}}"><true>
          <div><button class="btn btn-info" id="new">新增支付结果</button></div>
</true><false>
          <div><a class="btn btn-info" href="c/{{@v.p_id}}" id="view">查看支付结果</a></div>
</false></check>
        </div>
        <div class="form-group">
          <label for="memo" class="col-sm-1 control-label">备注</label>
          <div class="col-sm-11">
            <textarea class="form-control" rows="3" name="memo" placeholder="备注">{{@v.memo}}</textarea>
          </div>
        </div>
        <div class="form-group">
          <input type="hidden" name="_method" value="PUT" />
          <div class="col-sm-offset-8 col-sm-2">
            <a type="button" href="javascript:history.back();" class="btn btn-default btn-block">返回</a>
          </div>
          <div class="col-sm-2">
            <button id="save" class="btn btn-primary btn-block">保存</button>
          </div>
        </div>
      </form>
      <div class="modal fade" id="checkModal" tabindex="-1" role="dialog"></div>
      <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h4></h4>
              <form class="form-inline">
                <div class="form-group">
                  <label class="sr-only" for="amount">数量</label>
                  <input type="number" class="form-control" id="amount" min="0" placeholder="数量" required autofocus />
                </div>
                <div class="form-group">
                  <label class="sr-only" for="price">单价</label>
                  <input type="number" class="form-control" id="price" step="0.01" min="0" placeholder="单价" required />
                </div>
                <div class="form-group">
                  <input type="hidden" id="iID" value="" />
                  <button type="submit" class="btn btn-primary">添加</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>