      <div class="page-header">
        <h1>{{ @page.title }}
          <a type="button" href="v" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus"></span> 新增
          </a>
        </h1>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>发票号</th>
            <th>开票日期</th>
            <th>支付账户</th>
            <th>金额</th>
            <th>供应商</th>
            <th>支付方式</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
<repeat group="{{ @vs }}" value="{{ @v }}">
          <tr>
            <th><a href="v/{{ @v.vID }}">{{ @v.invoiceno }}</a></th>
            <td>{{ @v.invoicedate }}</td>
            <td>{{ @ch[@v.holder] }}</td>
            <td>{{ @v.money }}</td>
            <td>{{ @ss[@v.sID] }}</td>
            <td><check if="{{!empty(@v.payment)}}">
<true><set p="{{json_decode(@v.payment,true)}}" k="{{key(@p)}}" />
<a href="{{@k}}/{{@p[@k]}}"><check if="{{@k=='c'}}"><true>支票方式</true><false>现金</false></check></a></true><false>未支付</false></check></td>
            <td>{{ @v.memo }}</td>
          </tr>
</repeat>
        </tbody>
      </table>