        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="itemLabel">新备件</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">备件名称</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="name" placeholder="备件名称">
                  </div>
                </div>
                <div class="form-group">
                  <label for="tID" class="col-sm-2 control-label">备件分类</label>
                  <div class="col-sm-10">
                    <select class="form-control" name="tID" placeholder="选择备件分类..." required>
                     <option value="">选择备件分类...</option>
                   </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="brand" class="col-sm-2 control-label">品牌</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="brand" placeholder="备件品牌">
                  </div>
                </div>
                <div class="form-group">
                  <label for="type" class="col-sm-2 control-label">型号</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="type" placeholder="备件型号">
                  </div>
                </div>
                <div class="form-group">
                  <label for="unit" class="col-sm-2 control-label">单位</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="unit" placeholder="备件单位">
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">备注</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="5" name="memo" placeholder="备注"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>