      <div class="page-header">
        <h1>{{ @page.title }}</h1>
      </div>
      <form class="form-horizontal rest" role="form" method="post">
        <div class="form-group">
          <label for="invoiceno" class="col-md-1 control-label">发票</label>
          <div class="col-md-2">
            <input type="text" class="form-control" id="invoiceno" placeholder="输入购买设备的发票号" required />
            <input type="hidden" name="vID" value="" />
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-info btn-block">查询</button>
          </div>
          <label for="iID" class="col-md-1 control-label">设备列表</label>
          <div class="col-md-4">
            <select class="form-control" name="iID" disabled>
              <option value="">选择具体设备...</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="assetno" class="col-md-1 control-label">国标编号</label>
          <div class="col-md-3">
            <input type="text" class="form-control" name="assetno" placeholder="固定资产国标编号" />
          </div>
          <label for="internalno" class="col-md-1 control-label">校内编号</label>
          <div class="col-md-3">
            <input type="text" class="form-control" name="internalno" placeholder="校内固定资产编号" required />
          </div>
          <label for="departno" class="col-md-1 control-label">部门编号</label>
          <div class="col-md-3">
            <input type="text" class="form-control" name="departno" placeholder="信息中心固定资产编号" />
          </div>
        </div>
        <div class="form-group">
          <label for="memo" class="col-md-1 control-label">备注</label>
          <div class="col-md-11">
            <textarea class="form-control" rows="3" name="memo" placeholder="备注"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-8 col-md-2">
            <a type="button" href="javascript:history.back();" class="btn btn-default btn-block">返回</a>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block">保存</button>
          </div>
        </div>
      </form>