      <div class="page-header">
        <h1>{{ @page.title }}</h1>
      </div>
      <form class="form-horizontal" method="post">
        <div class="form-group">
          <label class="col-sm-1 control-label">详细信息</label>
          <label for="money" class="sr-only">金额</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" <check if="{{isset(@h)&&!empty(@h.money)}}"><true>value="{{@h.money}}" disabled</true><false>name="money" required</false></check> />
          </div>
          <label for="datetime" class="sr-only">刷卡时间</label>
          <div class="col-sm-3">
            <input type="datetime-local" class="form-control" <check if="{{isset(@h)&&!empty(@h.datetime)}}"><true>value="{{date('Y-m-d\TH:i',strtotime(@h.datetime))}}" disabled</true><false>name="datetime" placeholder="刷卡时间" required</false></check> />
          </div>
          <label class="col-sm-1 control-label">相关号码</label>
          <label for="voucher" class="sr-only">凭证号</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" <check if="{{isset(@h)&&!empty(@h.voucher)}}"><true>value="{{@h.voucher}}" disabled</true><false>name="voucher" placeholder="凭证号"</false></check> />
          </div>
          <label for="refno" class="sr-only">参考号</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" <check if="{{isset(@h)&&!empty(@h.refno)}}"><true>value="{{@h.refno}}" disabled</true><false>name="refno" placeholder="参考号" required</false></check> />
          </div>
        </div>
<check if="{{isset(@v)}}">
        <div class="form-group">
          <label class="col-sm-1 control-label">对应发票</label>
          <div class="col-sm-11">
            <div class="panel panel-default">
              <table class="table">
                <thead>
                  <tr>
                    <th>发票号</th>
                    <th>开票日期</th>
                    <th>支付账户</th>
                    <th>金额</th>
                    <th>备注</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
</check>
        <div class="form-group">
          <label for="memo" class="col-sm-1 control-label">备注</label>
          <div class="col-sm-11">
            <textarea class="form-control" rows="3" name="memo" placeholder="备注"><check if="{{isset(@h)}}">{{@h.memo}}</check></textarea>
          </div>
        </div>
        <div class="form-group">
          <input type="hidden" name="_method" value="{{@page.method}}" />
          <div class="col-sm-offset-8 col-sm-2">
            <a type="button" href="javascript:history.back();" class="btn btn-default btn-block">返回</a>
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary btn-block">保存</button>
          </div>
        </div>
      </form>